                 
               <ul class="nav navbar-nav navbar-center">   
               <li>
                <b> Find the vehicle from current page:</b>
               </li>
                <li>
                <input class="form-control mr-sm-2 navbar-right" id="myInput" type="text" placeholder="Search" aria-label="Search">
                </li>
                <!-- <li>-->
                <!--<button class="btn btn-outline-success my-2 my-sm-0 navbar-right" type="submit">Search</button>-->
                <!--</li>-->
                </ul>

<div class="col-md-12">
  <div class="group">
    <%= link_to("New parking", new_parking_path, class: "btn btn-primary pull-right") %>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <td>Starting Time</td>
        <td>License Plates</td>
        <td>Parking Type</td>
        <td>Amount $</td>
        <td>Status</td>
      </tr>
    </thead>
    <tbody id="myTable">
      <% @parkings.each do |park| %>
        <tr>
          <td><%= park.start_at %></td>
          <td><%= link_to(park.plate, parking_path(park)) %></td>
          <td><%= park.parking_type %></td>
          <td>
          <% if park.amount.to_f != 0 %>
          <%= park.amount.to_f / 100 %>
          <% else %>
           Continuing
           <% end %>
          </td>
          
          <td>
          
              <%= link_to("Already Paid --Delete", parking_path(park),    class: "btn btn-sm btn-default", 
                          method: :delete, data: { confirm: "Are you sure? Is it paid ? " } )%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
     <div class="text-center">
       <%= will_paginate @parkings %>
     </div>

</div>


<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>

<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>