<div class="center jumbotron text-center">
   <h1>Calculator for Parking Fee</h1>
  
   <hr>
   <%= form_for @parking do |f| %>
  
    Start at : <%= Time.now %>
    <br>
    Plate No.:  <%= f.text_field :plate %>

   
     <label>
       <%= f.radio_button :parking_type, "guest", :checked => "checked" %> Guest 
     </label>
 
     <label>
       <%= f.radio_button :parking_type, "short-term" %> short-term
     </label>
 
     <label>
       <%= f.radio_button :parking_type, "long-term" %> long-term
     </label>
 
     <p><%= f.submit "Start to count" %> | <a id="my-click">   Price List </a>  </p>

  <% end %>

  <div id="foo" style="border: 1px solid red;">
    <a id="my-hide-click">Hide</a>
    <p> As a Guest: $ 2 / hour </p>
  
    <p> As a Member: short-term (less than 24 hours) $ 2 / hour for the first hour then $ 1 / hour </p>
  
    <p> and long-term (more than 1 day) is $ 20 for the first day then $ 10 / day <p>
    
  </div>
  <%= link_to image_tag("parking-sign.jpg", alt: "parking sign", size: "500x350"  ) %> 
  <%= link_to image_tag("DC.jpg", alt: "DC parking sign", size: "500x350" ) %> 

</div>



<script>
  $("#foo").hide();

  $("#my-click").click(function(){
    $("#foo").show();
  })

  $("#my-hide-click").click(function(){
    $("#foo").hide();
  })
</script>