<h1>Calculator for Parking Fee</h1>

<% if @parking.amount.present? # 已经结束，显示停车费 %>

  <p>Vehicle registration plate: <%= @parking.plate %></p>
  <p>Type <%= @parking.parking_type %></p>
  
  <p>From <%= @parking.start_at %> To <%= @parking.end_at %><p>
  <p>It's <%= @parking.duration %> min</p>
  <p>Have to pay <%= number_to_currency(@parking.amount.to_f / 100, :unit => "$") %> Dollar</p>

  <p><%= link_to "A New Parking", new_parking_path %> | <%= link_to "Return", parkings_path %></p>

<% else # 还没结束，显示结束按钮 %>
<%= form_for @parking do |f| %>

   <div class="card text-center">
      <div class="card-header">
        WELCOME
      </div>
      <div class="card-body">
         <%= link_to image_tag("car-plates", alt: "parking sign", size: "100x100"  ) %>
        <h1 class="card-title"><%= @parking.plate %></h1>
        <p class="card-text">Thank you for choosing us</p>
        <p><%= f.submit "Stop Parking" %>  </p>
        <a href="/" class="btn btn-primary">Return to List</a>
      </div>
      <div class="card-footer text-muted">
        
      </div>
    </div>

  <% end %>

<% end %>